PORT=
TRUSTLESS_CONTRACT_ID=
SERVER_URL=
WASM_HASH=
SOLANA_SERVER_URL=
USDC_SOLANA_CIRCLE_TOKEN_TEST=
USDC_STELLAR_CIRCLE_TEST_TOKEN=
API_SECRET_KEY_WALLET=
API_PUBLIC_KEY_WALLET=
CLIENT_URL=

JWT_SECRET= // Agregar un secreto para JWT