PORT=3000
SOLANA_SERVER_URL=https://api.devnet.solana.com
SOLANA_PROGRAM_ID=8LvnKBjEobkQGsu3SkzCGTwrZaXzMZh1X4Wj5ZGcmqwW
SOLANA_PAYER_SECRET_KEY_JSON=
TRUSTLESS_WORK_FEE_WALLET=
USDC_TOKEN_MINT=
CLIENT_URL=http://localhost:3001
JWT_SECRET=

# Firebase (Firestore)
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
